.modal#modal
  .modal__cont
    .modal-header
      span.modal__title Remove brand
      .btn-close

    .modal-body
      .modal-body__cont
        .modal__icon-cont
          include ./icons/circle-info
        .modal-body__content
          span.modal__subtitle Are sure you wish to&nbsp;remove FAME_4?
          p.modal__txt The remaining stocks are worth: $768.231

    .modal-footer
      button.btn.btn--bordless No
      button.btn Yes

  .modal-bg
